/**GOOGLE_FONTS**/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/**VARIABAL_CSS**/
:root {
    --header-height:3.5rem;
    --first-color: hsl(195, 100%, 30%);
    /* hsl(hue, saturation, lightness) */
    --gradient-color: linear-gradient(90deg,hsl(210, 55%, 20%),hsl(192, 62%, 25%));
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(210, 55%, 85%);
    /*FONTS_AND_TYPOGRAPHY*/
    /* 0.5rem=8px and 1rem=16px */
    --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    /** Z_INDEX **/
    --z-tooltip: 10;
    --z-fixed: 100;
}

 /**RESPONSIVE_TYPOGRAPHY**/
 @media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }  
 }


/**BASE**/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden; /*FOR_ANIMATIONS*/
}